__pycache__/

build/

.DS_Store
.pytest_cache/
*.pyc
.coverage
coverage.xml
.hypothesis/
*.tmp

allure-results/
allure-report/

*.egg-info/
.idea/

.ocarina_logs*/

.venv/
*.reports/
.screenshots/
.webdriver_*
.playwright_*

.env
.env.*
*.local
!.env.example
